.warning {
    color: #d56850;
}

.notify {
    color: #388cbc;
}

.reveal section img.noborder {
    background: none;
    border: none;
    box-shadow: none;
}

.custom-letter {
    color: #8f8f8f;
    font-size: 84px !important;
}

.reveal section .vertical-block {
    vertical-align: middle;
    display: inline-block;
}

.list-style li {
    list-style-type: none;
}

/*new theme*/
html body .reveal div{
    /*background: #f5f3f1 !important;*/
    /*background-color: #f5f3f1 !important;*/
}

.eng {
}

.green {
    color: #00c853
}

.red {
    color: #d56850;
}

.blue {
    color: #388cbc;
}

.dark {
    color: #2f3e50;
}

.light {
    color: #f5f3f1;
}

.green-bg {
    background-color: #3eae65
}

.red-bg {
    background-color: #d56850;
}

.blue-bg {
    background-color: #388cbc;
}

.dark-bg {
    background-color: #2f3e50;
}

.light-bg {
    background-color: #f5f3f1;
}

pre {
    width: 900px;
}

.reveal table .no-borders td{
    border-bottom: none;
}

.reveal pre {
    box-shadow: none;
}

.reveal .footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    width: 100%;
    color: white;
    font-weight: 600 !important;
    font-size: 0;
}

.footer div {
    height: 48px;
    width: 100%;
    display:none;
}

.footer div img {
    display:block;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: none;
}

.custom-title {
    position: absolute;
    left: 50%;
    top: 77px;
    transform: translate(-50%, 0);
}